html {
	background-color: #758084;
	padding-bottom: 100px;
}
#head {
	display: block;
	border-radius: 5px;
	background-color: #595959;
	height: 100px;
}

#h {
	display: inline;
	font-family: 'Anton', sans-serif;
	color: #856664;
	font-size: 80px;
	position: absolute;
	padding-left: 20px;
	margin-top: 0px;
	text-transform: uppercase;
}

#list {
	list-style-type: none;
	display: inline;
	position: absolute;
	right: 20px;
	padding-top:30px;
	
}

a:hover {
	color: white;
}

.item{
	display: inline-block;
	padding-left:5px;
	padding-right:5px;
	font-size: 18px;
}

ul a {
	text-decoration: none;
	font-family: Helvetica;
	color: #a8867c;
}
.header {
	color: #bcbbb9;
	display: block;
	text-align: center;
	position: relative;
	top: 150px;
	right: 200px;
}

h1.header {
	font-family: 'Fredoka One', cursive;
	font-size: 50px;
}

p.header {
	font-family: 'Playfair Display', cursive;
	font-size: 20px;
}

#B {
	display: block;
	background-color: #4f742f;
	height: 500px;
	margin-bottom: -10px;
	border-radius: 5px;
}

#M {
	display: block;
	background-color: #6e524f;
	height: 500px;
	margin-bottom: -10px;
	border-radius: 5px;
}
#S {
	display: block;
	background-color: #4f742f;
	height: 500px;
	margin-bottom: -10px;
	border-radius: 5px;
}

.Buell ,.Marvin ,.Silvers {
	display: inline;
}
.image {
	height: 400px;
	width: 550px;
	float: right;
	margin-top: -75px;
	padding-right:100px;
}

#Duty{
	position: fixed;
	border-radius: 5px;
	background-color: #cac585;
	height: 75px;
	width: 100%;
	bottom: 0;

}

.Duty {
	text-align: center;
	display: block;
	color: #6c7678;
	font-family: Impact;
	margin: 0px;
}


